<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAS | Order</title>
  <link href="../header.css" rel="stylesheet" type="text/css" />
  <link href="../sidenav.css" rel="stylesheet" type="text/css" />
  <link href="../tables.css" rel="stylesheet" type="text/css" />
</head>

<header>
  <div class='main'>
    <%- include('../../partials/patient/header') %>
  </div>
</header>

<script>
  const setSupplier = id => {
    document.getElementById('supplierId').value = id;
  };
</script>

<body>
  <%- include('../../partials/patient/sidenav') -%>

  <div class='main'>
    <h1>Clinical Automation System</h1>
    <br>
    <h2>Create Order</h2>
    <br>
    <%= message %>
    <% if (!details.suppliers) { %>
    <form action="/patient/order-medicine" method="post">
      Medicine : <input type="text" name="medicineName" required="required"><br>
      Quantity: <input type="number" name="quantity" required="required"><br>
      <button type="submit">Make order</button>
    </form>
      <% } else { %>
        <form action="/patient/order-medicine" method="post">
        Medicine : <input type="text" name="medicineName" required="required" value="<%= details.medicine.medicineName %>"><br>
        Quantity: <input type="number" name="quantity" required="required" value="<%= details.medicine.quantity %>"><br>
        Supplier : <input type=" text" name="supplierId" id="supplierId" required="required" readonly
        placeholder="Select from below table"><br>
      <br>
      <button type="submit">Make order</button>
    </form>
    <h2>Suppliers List</h2>
    <table>
      <th>Name</th>
      <th>Company Name</th>
      <th>Mobile Number</th>
      <th>Select</th>
      <% details.suppliers.forEach(supplier => { %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.companyName %></td>
        <td><%= supplier.startTime %></td>
        <td><%= supplier.mobileNumber %></td>
        <td><input type="button" onclick="setSupplier(`<%= supplier.id %>`)" value="Select"></td>
      </tr>
      <% }); %>
      <% } %>
  </div>
</body>

</html>
